/* body{
    background-color: pink;
} */

 /* Navbar */
 .navbar {
    height:2 rem ;
    background-color: white;
 }
 .fa-compass{
    color: #fe424d ;
    font-size: 6 rem;
 }
 .nav-link{
    color: #222222 !important;
    
 }